extends layout

block content
 br
 br
 br
 br
 br
 p #{currentFood.name}
 p #{currentFood.upc}
 p #{currentFood.price}
 p #{currentFood.quantity}
 p #{currentFood.description}
 p #{currentFood.category}